/* estilos generales para toda la página */
body {
	font-family:Arial, Helvetica, sans-serif;
	margin: 0;
}

.bg-color-info {
	background-color: rgb(244, 246, 251);
}

.font-color-general {
	color: rgb(16, 93, 216);
}

.brand-name {
	font-size: 1.8rem;
	color: rgb(67, 105, 176);
	margin-left: 2rem;
}

.bg-img-principal {
	background-image: url("img/main.jpg");
	background-size: cover;
	height: 650px;
	background-position: center center;
}

.bloque-texto-principal {
	margin-top:5px;
}

.bg-color-azul {
	background-color: rgb(67, 105, 176);
}

.hrblanco {
	width: 10%;
	background-color: white;
}

.hrazul {
	width: 10%;
	background-color: rgb(244, 246, 251);
}
.mapa{
	display: flex;
	margin-top: 1rem;
	margin-bottom: 1rem;
	gap: 3rem;
	width: 3200;
	height: 2500;
	text-align: center;
}
.contenedor{
	text-align: center;

}
.boton{
	
	display: inline-block;
	background:rgb(6, 34, 214);
	font-weight: 500;
	margin-top: 1rem;
	text-decoration: none;
	border-radius: 50px;
	padding: 10px 15px;
	color: black;
}
.boton a{
	color: black important;
	text-decoration: none;
	padding: auto;
	font-weight: 700;
	
}



/* estilos específicos para pantallas menores a 992px (menor que lg de bootstrap) */
@media only screen and (max-width : 992px) {

	.brand-name {
		font-size: 1.8rem;
		color: rgb(67, 105, 176);
		margin-left: 1rem;
	}

	/* tenemos 1 imagen específica para móvil */
	.bg-img-principal {
		background-image: url("img/main_movil.png");
		background-size: cover;
		height: 500px;
		background-position: center center;	
	}	
}